/*=========================================
    Primary Color
=========================================*/
/* 00. Theme Reset Css */
#blog-content .post-content:hover .post-title a,
#recent-blog .post-content .post-title a,
.footer-sidebar .widget.widget_products ul li a:hover,
.footer-sidebar .widget.widget_products ul li a:focus,
.sidebar .widget_info i {
    color: #27ADFF;
}

.wp-block-file .wp-block-file__button,
.boxed-btn, .wp-block-loginout a,
.widget_block.widget_calendar table th,
.footer-sidebar .widget_product_search button,
.wp-block-button a, .wp-block-calendar table thead th {
    background: #27ADFF ;    
}

.boxed-btn:hover,.boxed-btn:focus, {
    color: #27ADFF ;    
}

.photography-album-btn .boxed-btn,
.photography-album-btn .slide-bg h4,
.photography-album-btn .boxed-btn:hover,
.photography-album-btn .boxed-btn:focus,
.photography-album-btn .posts-navigation .nav-links a:hover,
.photography-album-btn .posts-navigation .nav-links a:focus, .sidebar .widget_search button,
.wp-block-search .wp-block-search__button, .sidebar .widget table th {
    background-color: #27ADFF;
}

/* 05. Features */

.view-more {
    color: #27ADFF ;
}

/* Recent Blog */
#recent-blog .blog-post:hover .read-more-link,
.blog-post:hover .post-content .post-title a,
#recent-blog .blog-post:focus-within .read-more-link,
.blog-post:focus-within .post-content .post-title a {
    color: #27ADFF ;
}

#footer-copyright {
    background: #27ADFF ;
}

.scrollup {
    background-color: #27ADFF ;
    border-color: #27ADFF ;

}

.scrollup:hover,
.scrollup:focus {
    color: #27ADFF ;
    border-color: #27ADFF ;
}

/*------------------------
    Blog
-------------------------*/
.blog-post:focus-within h4.post-title a,
.blog-post:hover h4.post-title a {
    color: #27ADFF;
}

.post-content .continue-reading:focus,
.post-content .continue-reading:hover {
    color: #27ADFF;
}

#blog-content ul.meta-info li:focus-within i,
#blog-content ul.meta-info li a:focus,
#blog-content ul.meta-info li a:hover {
    color: #27ADFF ;
}

.blog-post .post-thumb {
    background: #27ADFF ;    
}

.post-new-comment input,
.post-new-comment textarea {
    border-color: #27ADFF ;
}

.single-blog-area ul.share-icon li a:focus,
.single-blog-area ul.share-icon li a:hover {
    color: #27ADFF ;
}

/* Widget Color */

.widget_pages ul li a:hover,
.widget_pages ul li a:focus {
    color: #27ADFF ;
}

.sidebar .widget_search input[type=button],
.sidebar .widget_search input[type=submit] {
    background: #27ADFF ;
}

.sidebar .widget_recent_entries ul li a:hover,
.sidebar .widget_recent_comments ul li a:hover,
.sidebar .widget_archive ul li a:hover,
.sidebar .widget_categories ul li a:hover,
.sidebar .widget_meta ul li a:hover,
.sidebar .widget_recent_entries ul li a:focus,
.sidebar .widget_recent_comments ul li a:focus,
.sidebar .widget_archive ul li a:focus,
.sidebar .widget_categories ul li a:focus,
.sidebar .widget_meta ul li a:focus {
	color: #121212 ;
}

.footer-sidebar .widget_search input[type=button],
.footer-sidebar .widget_search input[type=button]:hover,
.footer-sidebar .widget_search input[type=button]:focus,
.footer-sidebar .widget_search input[type=submit],
.footer-sidebar .widget_search input[type=submit]:hover,
.footer-sidebar .widget_search input[type=submit]:focus {
    background: #27ADFF ;
}
.footer-sidebar .widget_recent_entries ul li a:hover,
.footer-sidebar .widget_recent_comments ul li a:hover,
.footer-sidebar .widget_archive ul li a:hover,
.footer-sidebar .widget_categories ul li a:hover,
.footer-sidebar .widget_meta ul li a:hover,
.footer-sidebar .widget_recent_entries ul li a:focus,
.footer-sidebar .widget_recent_comments ul li a:focus,
.footer-sidebar .widget_archive ul li a:focus,
.footer-sidebar .widget_categories ul li a:focus,
.footer-sidebar .widget_meta ul li a:focus {
	color: #27ADFF ;
}

.recent-post h6:hover,
.recent-post h6:focus-within {
    color: #27ADFF ;
}

ul.recent-meta-info li a:hover,
ul.recent-meta-info li a:focus {
    color: #27ADFF ;
}

.days li .active {
    color: #27ADFF ;
    border-color: #27ADFF ;
}

ul.widget-social li a:hover,
ul.widget-social li a:focus {
    color: #27ADFF ;
}

ul.tags li a:hover,
ul.tags li a:focus {    
    background: #27ADFF ;
}
em, cite, q {
    color: #27ADFF ;
}
a {
    color: #27ADFF ;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
    border: 1px solid #27ADFF ;
}
table th {
    background: #27ADFF ;
}
blockquote {
    border-left: 5px solid #27ADFF  !important;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    background: #27ADFF;
}

.sidebar .widget table tbody a {
    color: #27ADFF ;
    border-color: #27ADFF ;
}
.widget_tag_cloud a:hover,
.widget_tag_cloud a:focus,
.wp-block-tag-cloud a:hover,
.wp-block-tag-cloud a:focus {
    background: #27ADFF ;
}
.footer-sidebar .widget table tbody a { 
	color: #27ADFF ;
    border-color: #27ADFF ;
}

textarea {
	border: 1px solid #27ADFF ;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
    border: 1px solid #27ADFF ;
}

.paginations a:hover, .paginations a:focus, .paginations a.active, span.page-numbers.current {
	background:#27ADFF ;
}
a.page-numbers {
    color: #27ADFF ;
}

.textwidget a:hover,
.textwidget a:focus {
    color: #27ADFF ;
}

.boxed-btn:hover,
.boxed-btn:focus {
    color: #27ADFF ;
}
.view-more:hover, .view-more:focus {
    color: #27ADFF;
}
/*=========================================
    Secondary Color
=========================================*/
/* Theme Reset css */
button:hover, input[type="button"]:hover, input[type="reset"]:hover,
button:focus, input[type="button"]:focus, input[type="reset"]:focus {
    background: #121A1F;
}

.section-header p {
    color: #121A1F;
}

/* Main Menu*/
.mean-container .mean-nav ul li a.mean-expand:hover,
.mean-container .mean-nav ul li a.mean-expand:focus {
    background: #121A1F;
}

#recent-blog .read-more-link {
    color: #121A1F;    
}

.gallery-item figure:hover figcaption,
.gallery-item figure:focus-within figcaption {
    background: #121A1F;
}

#blog-content ul.meta-info li {
    color: #121A1F;
}

#blog-content ul.meta-info li a {
    color: #121A1F;
}

.post-content .content {
    color: #121A1F;
}

#blog-content .post-content .continue-reading {
    color: #121A1F;
}

.single-blog-area .post-title {
    color: #121A1F;
}

.single-blog-area ul.share-icon li a {
    color: #121A1F;
}

.post-comment-area .comment-author a {
    color: #121A1F;
}

#wrapper-404 .inner-content h1 {
    color: #121A1F;
}

#wrapper-404 .inner-content p {
    color: #121A1F;
}

/*Widget CSS */

#footer-widgets{
    background: #000;
}

.widget-search input[type=button]:hover,
.widget-search input[type=button]:focus {
    background: #121A1F;
}

.widget_search .search-form,
.search-form input[type="search"]::-webkit-input-placeholder,
.sidebar .widget-title,
.widget_categories ul li a,
.recent-post h6,
ul.recent-meta-info li,
ul.recent-meta-info li a,
ul.tags li a,
.widget-calender .widget-title .plus a,
.weekdays li,
.days li.disable,
.days li {
    color: #121A1F;

}

/* new */
.sidebar .widget table caption { 
    color: #121A1F; 
}
.sidebar .widget table td, .widget table th { 
	color: #121A1F;
}
.sidebar .widget-title,#sidebar .widget.widget_search label,#sidebar .sidebar .widget h2.wp-block-heading,.sidebar h2.wp-block-heading {
	color: #121A1F;
    font-size: 20px;
    font-weight: 700;
}
.sidebar .widget_meta ul li a {
	color: #121A1F;
}
.sidebar .widget_recent_entries ul li a {
	color: #121A1F; 
}
.sidebar .widget_recent_comments ul li a {
	color: #121A1F; 
}
.widget_tag_cloud a {
    color: #121A1F;
}
.footer-sidebar .widget table caption { 
    color: #121A1F; 
}
.footer-sidebar .widget table th { 
    color:#121A1F; 
}
.footer-sidebar .widget table td, .widget table th { 
	color: #121A1F;
} 
.gallery-item .gallery-caption {
    color: #121A1F;
}
.pagination a {
    background: #121A1F;
}

.widget_block.widget_calendar table th {
    color: #fff;
}


.footer-widgets .wp-block-latest-comments li a:hover, 
.footer-widgets .wp-block-latest-comments li a:focus {
    color: #fff;
}

.footer-sidebar .widget_calendar caption {
    background: #fff;
}


.wp-block-button a.wp-block-button__link,
.wp-block-button a.wp-block-button__link:hover,
.wp-block-button a.wp-block-button__link:focus {
    color: #121A1F;
}

.wp-block-button.is-style-outline a.wp-block-button__link {
    color: #27ADFF;
    background: transparent;
}

.wp-block-button.is-style-outline a.wp-block-button__link:hover, 
.wp-block-button.is-style-outline a.wp-block-button__link:focus {
    background: #27ADFF;
    color: #fff;
}